.App {
  text-align: center;
}
.contenedorNav{
  display: flex;
  margin: 0 0 0 5px;
}
.logoHeader {
  height: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logoNav {
  height: 50px;
}
.navbar {
  width: 100%;
  background-image: linear-gradient(to right, #F5FAFC, #46A3C3);
}
.nav-link {
  margin: 0 20px 0 20px;
  text-align: center;  
}

@media (prefers-reduced-motion: no-preference) {
  .styloCarrito {
    animation: App-logo-spin infinite 5s linear;
  }
  
} 
.styloCarrito{
  font-size: 3rem;
  color: #3e4142;
}
.numeroCarrito{
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}
.App-header {
  background-image: linear-gradient(to right, #F5FAFC, #46A3C3);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
.botonera {
  display:flex;
  justify-content: center;
}
.conteo {
  font-size: larger;
  margin: 10px;
}

.boton-eliminarItem {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color:red;
  border-radius: 50%;
}
.boton-sumarItem{
  width: 40px;
  height: 40px;
  cursor: pointer;   
  background-color: green;
  border-radius: 50%;
}
.list_products {
  display: inline-flex;
  width: 200px;
  margin: 20px;
}
.mapFlex {
  display: flex;
  justify-content: center;
}
.mapCenter {
  text-align: center;
}